// src/sass/main.scss
$body-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Indie Flower', cursive;
$border-radius-root: 0;
$color-pack: false;

@import '~vuetify/src/styles/styles.sass';

.v-card,
.v-btn {
  @include elevation(0);
}